boot/resources/net.exogeni.orca.boot.beans.schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://issg.cs.duke.edu/sharp/boot" xmlns="http://issg.cs.duke.edu/sharp/boot" elementFormDefault="qualified">

	<!-- The main structure of the XML Configuration file -->
	<xsd:element name="configuration">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="global" type="global" minOccurs="0" />
				<xsd:element name="actors" minOccurs="0" >
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="actor" type="actor" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="topology" type="topology" minOccurs="0" />
			</xsd:all>
		</xsd:complexType>
	</xsd:element>

	<!-- Containers description  node: a collection of containers -->
	<xsd:element name="containers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="container" type="container" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="appBase" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<!-- Container description -->
	<xsd:complexType name="container">
		<xsd:all>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="location" type="xsd:string" />
			<xsd:element name="configFile" type="xsd:string" />
		</xsd:all>
	</xsd:complexType>

	<!-- Mapping of actors to containers -->
	<xsd:element name="mapping">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="map" type="map" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Mapping of an actor to a container -->
	<xsd:complexType name="map">
		<xsd:attribute name="actor" type="xsd:string" />
		<xsd:attribute name="container" type="xsd:string" />
	</xsd:complexType>

	<!--
        A parameter element specifies a named parameter that can be set when an object is created.
        If the name of the parameter is X, the class should implement a method setX taking the specified type
        (or the class specified in base) as an argument.
        There possible choices for the type attribute are:
            String, Integer, Boolean, Instance.
        When type=Instance the instance element specifies the way to create the class.
    -->
	<xsd:complexType name="parameter">
		<xsd:all>
			<xsd:element name="value" type="xsd:string" minOccurs="0" />
			<xsd:element name="instance" type="instance" minOccurs="0" />
		</xsd:all>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="type" type="xsd:string" default="String" />
		<xsd:attribute name="base" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="simpleParameter">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="parameters">
		<xsd:sequence>
			<xsd:element name="parameter" type="parameter" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="simpleParameters">
		<xsd:sequence>
			<xsd:element name="parameter" type="simpleParameter" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="property">
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="value" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="properties">
		<xsd:sequence>
			<xsd:element name="property" type="property" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<!--
        The instance element describes the parameters needed to instantiate a given object.
        The behavior depends on the value of the type parameter.

        When no type is specfied:

        When type="factory"
        
    -->

	<xsd:complexType name="instance">
		<xsd:all>
			<xsd:element name="className" type="xsd:string" />
			<xsd:element name="properties" type="properties" minOccurs="0" />
			<xsd:element name="parameters" type="parameters" minOccurs="0" />
		</xsd:all>
		<xsd:attribute name="type" type="xsd:string" use="optional" />
		<xsd:attribute name="init" type="xsd:boolean" default="false" />
		<xsd:attribute name="input" type="xsd:string" default="false" />
		<xsd:attribute name="instance" type="xsd:string" use="optional" />
		<xsd:attribute name="collection" type="xsd:string" use="optional" />

	</xsd:complexType>

	<xsd:complexType name="rdata">
		<xsd:all>
			<xsd:element name="localProperties" type="simpleParameters" minOccurs="0" maxOccurs="1" />
			<xsd:element name="requestProperties" type="simpleParameters" minOccurs="0" maxOccurs="1" />
			<xsd:element name="resourceProperties" type="simpleParameters" minOccurs="0" maxOccurs="1" />
			<xsd:element name="configurationProperties" type="simpleParameters" minOccurs="0" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="rset">
		<xsd:all>
			<xsd:element name="type" type="xsd:string" />
			<xsd:element name="units" type="xsd:int" />
			<xsd:element name="resourceData" type="rdata" minOccurs="0" maxOccurs="1" />
			<xsd:element name="start" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
			<xsd:element name="end" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />	
			<xsd:element name="properties" type="properties" minOccurs="0" maxOccurs="1" />	
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="cryptoKey">
		<xsd:all>
			<xsd:element name="algorithm" type="xsd:string" />
			<xsd:element name="value" type="xsd:base64Binary" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="slice">
		<xsd:all>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="resourceData" type="rdata" minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attribute name="className" type="xsd:string" use="optional" />
	</xsd:complexType>

	<!--
        Actor configuration
    -->
	<xsd:complexType name="actor">
		<xsd:all>
			<xsd:element name="type" type="xsd:string" maxOccurs="1" />
			<xsd:element name="name" type="xsd:string" />
            <xsd:element name="guid" type="xsd:string" maxOccurs="1" minOccurs="0" />
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="instance" type="instance" />
			<xsd:element name="owner" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="publicKey" type="cryptoKey" minOccurs="0" maxOccurs="1" />
			<xsd:element name="privateKey" type="cryptoKey" minOccurs="0" maxOccurs="1" />
			<xsd:element name="monitor" type="instance" minOccurs="0" />
			<xsd:element name="mapper" type="instance" minOccurs="0" />
			<xsd:element name="plugin" type="instance" minOccurs="0" />
			<xsd:element name="slice" type="slice" minOccurs="0" />
            <xsd:element name="siteName" type="xsd:string" minOccurs="0" />
			<xsd:element name="pools" type="pools" minOccurs="0" maxOccurs="1" />
			<xsd:element name="controls" type="controls" minOccurs="0" maxOccurs="1" />
			<xsd:element name="inventory" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="policy" type="policy" minOccurs="0" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<!-- Global Parameters -->
	<xsd:complexType name="global">
		<xsd:all>
			<!-- Beginning of time. if -1 use current time-->
			<xsd:element name="startTime" type="xsd:long" />
			<!-- The slot size -->
			<xsd:element name="cycleMillis" type="xsd:long" />
			<!-- The fist tick number: if -1: use current time -->
			<xsd:element name="firstTick" type="xsd:long" />
			<xsd:element name="manualTicks" type="xsd:boolean" />
            <xsd:element name="containerGuid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<!-- The URL of the current container -->
			<xsd:element name="locations" type="locations" minOccurs="0" />
			<xsd:element name="database" type="instance" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="locations">
		<xsd:sequence>
			<xsd:element name="location" type="location" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="location">
	   <xsd:attribute name="protocol" type="xsd:string" use="required"/>
	   <xsd:attribute name="url" type="xsd:string" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="vertex">
		<xsd:all>
			<!-- deprecated -->
			<xsd:element name="publicKey" type="cryptoKey" minOccurs="0" />
			<!-- deperecated -->
			<xsd:element name="privateKey" type="cryptoKey" minOccurs="0" />
			
			<xsd:element name="location" type="location" minOccurs="0" />
		    <!-- Actor certificate -->
			<xsd:element name="certificate" type="xsd:base64Binary" minOccurs="0" />
		</xsd:all>
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="guid" type="xsd:string" />
		<xsd:attribute name="type" type="xsd:string" />
 	    <xsd:attribute name="protocol" />
	</xsd:complexType>

	<!-- Topology -->

	<xsd:complexType name="edges">
		<xsd:sequence>
			<xsd:element name="edge" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="from" type="vertex" />
						<xsd:element name="to" type="vertex" />
						<xsd:element name="rset" type="rset" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="topology">
		<xsd:all>
			<xsd:element name="edges" type="edges" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="attribute">
		<xsd:all>
			<xsd:element name="key" type="xsd:string" />
			<xsd:element name="label" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="min" type="xsd:int" minOccurs="0" maxOccurs="1" />
            <xsd:element name="max" type="xsd:int" minOccurs="0" maxOccurs="1" />
            <xsd:element name="unit" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="attributes">
		<xsd:sequence>
			<xsd:element name="attribute" type="attribute" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="pool">
		<xsd:all>
			<xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="label" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="units" type="xsd:int" minOccurs="1" maxOccurs="1" />
			<xsd:element name="start" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
			<xsd:element name="end" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />		
			<xsd:element name="attributes" type="attributes" minOccurs="0" maxOccurs="1" />
			<xsd:element name="handler" type="handler" minOccurs="1" maxOccurs="1" />
			<xsd:element name="properties" type="properties" minOccurs="0" maxOccurs="1" />
			<xsd:element name="inventory" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attribute name="factory" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="pools">
		<xsd:sequence>
			<xsd:element name="pool" type="pool" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="handler">
		<xsd:all>
			<xsd:element name="properties" type="properties" minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="packageId" type="xsd:string" />
		<xsd:attribute name="pluginId" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="policy">
		<xsd:all>
			<xsd:element name="properties" type="properties" minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attribute name="class" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="types">
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="control">
		<xsd:all>
			<xsd:element name="types" type="types" minOccurs="0" maxOccurs="1" />
			<xsd:element name="properties" type="properties" minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attribute name="type" type="xsd:string" />
		<xsd:attribute name="class" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="controls">
		<xsd:sequence>
			<xsd:element name="control" type="control" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
